<div class="container">
  <div id="error_explanation">
    <% if @book.errors.any? %>
      <h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row">
    <%= render 'sideform', book: @book_new, user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= link_to @user.name, user_path(@user) %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-sm btn-danger" %>
              </td>
            <% end %>
            <td><%= render 'post', book: @book %></td>
            <td>コメント数: <%= @book.book_comments.count %></td>
          </tr>
        </tbody>
      </table>

      <table>
				<% @book.book_comments.each do |book_comment|%>
				<tr>
					<td>
          <%= link_to(@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= @book.user.name %>
          <% end %>
          </td>
					<td><%= book_comment.comment %></td>
            <td>
							<% if book_comment.user_id == current_user.id %>
								<%= link_to "Destroy", book_book_comment_path(@book, book_comment.id), method: :delete, class: "btn-sm btn-danger destroy_book_comment_#{@book.id}" %>
							<% end %>
						</td>
        </tr>
				<% end %>
			</table>

			<div class="post-comment">
				<%= form_with model: [@book, @book_comment] do |f| %>
					<div class="form-group">
						<%= f.text_area :comment, size: "100x5" %>
					</div>
					<div>
						<%= f.submit "送信" %>
					</div>
				<% end %>
			</div>
    </div>
  </div>
</div>
